.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

.nfs*

uploads/documentos_identificacion/*
!uploads/documentos_identificacion/index.html
uploads/ruat/*
!uploads/ruat/index.html
uploads/bpa/*
!uploads/bpa/index.html
uploads/vtp/*
!uploads/vtp/index.html
uploads/suelos/*
!uploads/suelos/index.html


assets/google_maps/results.json