<table class="table table-bordered">
    <thead style="vertical-align:text-top;">
        <tr class="center">
            <th>Pregunta</th>

            {% for respuesta in respuestas %}
            <th>{{ respuesta.descripcion }}</th>
            {% endfor %}

        </tr>
    </thead>
    <tbody>

        {% set contador = 0 %}
        {% for pregunta in preguntas %}

            {% set clase_pregunta = 0 %}
        <tr>
            <td style="text-align: left">{{ pregunta.descripcion }}</td>

            {% for respuesta in respuestas %}                                
            <td id="{{contador~"_"~clase_pregunta}}"  style="text-align: right">
                {{ matriz_promedios[contador][clase_pregunta] | number_format(0, ',', '.')}}
            </td>
            {% set clase_pregunta = clase_pregunta+1 %}
            {% endfor %}
        </tr>
            {% set contador  = contador+1 %}

        {% endfor %}
    </tbody>
</table>