{% extends "base.html.twig" %}

{% block html_head %}
    
{% endblock %}


{% block titulo %} 
<h1><i class="icon20 i-users"></i> Reportes  </h1>
{% endblock %}


{% block contenido %}

<div class="container">
    {% include "reportes/toolbar_reportes.html.twig" %}

</div>

{% endblock %}