{% extends "base.html.twig" %}

{% block contenido %}

<div class="panel panel-default">

    <!-- begin .panel-heading -->
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>C. APROPIACIÓN DE APRENDIZAJES</h4>
        <a href="#" class="minimize"></a>
    </div>
    <!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <form class="form-horizontal" role="form" action="#">

                <div class="row">
					Lea detenidamente cada una de las preguntas y marque el nivel de acuerdo en el que usted se sienta;
					TOTALMENTE DESACUERDO, DESACUERDO, NI DE ACUERDO NI EN DESACUERDO, DE ACUERDO, TOTALMENTE DE ACUERDO.
                </div>

				<!-- begin 40.1 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Procuro estar al tanto de lo que ocurre aquí y ahora.
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.1 -->

				<!-- begin 40.2 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Me gusta analizar y dar vuelta a las cosas.
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.2 -->
				
				<!-- begin 40.3 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Normalmente trato de resolver los problemas paso a paso.
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.3 -->

				<!-- begin 40.4 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Me gusta experimentar y aplicar las cosas.
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.4 -->

				<!-- begin 40.5 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Muchas veces actúo sin mirar las consecuencias
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.5 -->

				<!-- begin 40.6 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Prefiero discutir, cuestionar, concretar y no perder el tiempo con charlas sin sentido.
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.6 -->

				<!-- begin 40.7 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Tiendo a, ser perfeccionista.
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.7 -->

				<!-- begin 40.8 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Tengo fama de decir lo que pienso claramente y sin rodeos
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.8 -->

				<!-- begin 40.9 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							La mayoría de las veces expreso abiertamente cómo me siento
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.9 -->

				<!-- begin 40.10 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Suelo reflexionar sobre los asuntos y problemas.
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.10 -->

				<!-- begin 40.11 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Me cuesta ser creativo/a. Romper estructuras.
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.11 -->

				<!-- begin 40.12 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Juzgo con frecuencia las ideas de los demás por su valor práctico.
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.12 -->

				<!-- begin 40.13 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Me gusta afrontar la vida espontáneamente y no tener que planificar todo previamente.
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.13 -->

				<!-- begin 40.14 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Prefiero discutir cuestiones concretas y no perder el tiempo con charlas vacías.
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.14 -->

				<!-- begin 40.15 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							Prefiero las cosas estructuradas a las desordenadas
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.15 -->

				<!-- begin 40.16 -->
				<div class="form-group">
					<div class="container">
						<label for="select" class="col-lg-5 control-label">
							No me importa hacer todo lo necesario para que sea efectivo mi trabajo.
						</label>
						<div class="col-lg-6">
							<select class="form-control" name="select" style="text-align:middle;">
								<option>Elija un nivel de aceptacion</option>
								<option>Totalmente en desacuerdo</option>
								<option>Desacuerdo</option>
								<option>Ni de acuerdo ni en desacuerdo</option>
								<option>De acuerdo</option>
								<option>Totalmente de acuerdo</option>
							</select>
						</div>
					</div>
				</div>
				<!-- end 40.16 -->

            </form>
        </div> <!-- .container -->
    </div><!-- End .panel-body -->
</div><!-- panel default -->


{% endblock %}
