
<!-- Parte B: Formato RUAT -->

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B1. DATOS GENERALES DE LA FINCA</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <form class="form-horizontal" role="form" action="#">

                <!-- Parte B.1: Formato RUAT -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label" for="radio">Finca</label>
                                <label class="radio">
                                    <input type="radio" name="radio" value="1"> SI
                                </label>
                                <label class="radio">
                                    <input type="radio" name="radio" value="2"> NO
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label">Nombre de la finca</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label">Identificaci&oacute;n Catastral</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label" for="select">Tenencia</label>
                                <select name="select" class="form-control">
                                    <option>Propiedad con t&iacute;tulo</option>
                                    <option>Propiedad sin t&iacute;tulo</option>
                                    <option>En arrendamiento</option>
                                    <option>Comodacto</option>
                                    <option>Usufracto</option>
                                    <option>Aparcer&iacute;a</option>
                                    <option>Colectiva</option>
                                    <option>Otro</option>
                                </select>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label" for="select">Departamento</label>
                                <select name="select" class="form-control">
                                    <option>Valle del Cauca</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label" for="select">Municipio</label>
                                <select name="select" class="form-control">
                                    <option>...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label">Vereda</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label">Sector</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label">&Aacute;rea Total</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label" for="tags">Disponibilidad de servicios p&uacute;blicos</label>
                                <input id="tags" type="text" value="awesome,nice" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container">
                            <label class="control-label" for="radio">Disponibilidad de Vias de Acceso</label>
                            <label class="radio">
                                <input type="radio" name="radio" value="1"> SI
                            </label>
                            <label class="radio">
                                <input type="radio" name="radio" value="2"> NO
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label" for="select">Estado de las vias de acceso</label>
                                <select name="select" class="form-control">
                                    <option>Pavimentada</option>
                                    <option>No Pavimentada</option>
                                </select>  
                                <select name="select" class="form-control">
                                    <option>Buena</option>
                                    <option>Regular</option>
                                    <option>Mala</option>
                                </select>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="container">
                            <label class="control-label" for="radio">Manejo Programa de Residuos</label>
                            <label class="radio">
                                <input type="radio" name="radio" value="1"> SI
                            </label>
                            <label class="radio">
                                <input type="radio" name="radio" value="2"> NO
                            </label>
                        </div>
                    </div>
                    <!-- Este pedazo hay que ponerle la condicion de que si selecciono NO, entonces bloquee lo siguiente -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label" for="select">Programa</label>
                                <select name="select" class="form-control">
                                    <option>Ordinarios</option>
                                    <option>Peligrosos</option>
                                    <option>Otro</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label">Descripci&oacute;n</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label">Distancia de la finca a la cabecera municipal (Km)</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label">Forma de Llegar al Predio</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="container">
                                <label class="control-label" for="tags">Medios de transporte para la realizacion de la actividad productiva y de comercializaci&oacute;n</label>
                                <input id="tags" type="text" value="awesome,nice" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Aqui creo que es mejor cambiarla por una tabla -->
                            
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="3">Maquinaria y equipo para la realizaci&oacute;n de actividades productivas y comercializaci&oacute;n</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center" width="20%">Herramientas</td>
                                        <td width="2%">
                                            <label class="checkbox">
                                                <input class="form-control" type="checkbox" id="agree" name="agree">
                                            </label>
                                        </td>
                                        <td width="65%"><input type="text" class="form-control" /></td>
                                    </tr>
                                    <tr>
                                        <td class="center">Utencilios</td>
                                        <td>
                                            <label class="checkbox">
                                                <input class="form-control" type="checkbox" id="agree" name="agree">
                                            </label>
                                        </td>
                                        <td><input type="text" class="form-control" /></td>
                                    </tr>
                                    <tr>
                                        <td class="center">Equipos</td>
                                        <td>
                                            <label class="checkbox">
                                                <input class="form-control" type="checkbox" id="agree" name="agree">
                                            </label>
                                        </td>
                                        <td><input type="text" class="form-control" /></td>
                                    </tr>
                                    <tr>
                                        <td class="center">Maquinaria Liviana</td>
                                        <td>
                                            <label class="checkbox">
                                                <input class="form-control" type="checkbox" id="agree" name="agree">
                                            </label>
                                        </td>
                                        <td><input type="text" class="form-control" /></td>
                                    </tr>
                                    <tr>
                                        <td class="center">Maquinaria Pesada</td>
                                        <td>
                                            <label class="checkbox">
                                                <input class="form-control" type="checkbox" id="agree" name="agree">
                                            </label>
                                        </td>
                                        <td><input type="text" class="form-control" /></td>
                                    </tr>
                                    <tr>
                                        <td class="center">Otros</td>
                                        <td>
                                            <label class="checkbox">
                                                <input class="form-control" type="checkbox" id="agree" name="agree">
                                            </label>
                                        </td>
                                        <td><input type="text" class="form-control" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div> <!-- .container -->
    </div><!-- End .panel-body -->
</div><!-- panel default -->


<!-- Parte B.2: PRODUCTOS AGROPECUARIOS -->

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>B2. PRODUCTOS AGROPECUARIOS</h4>
        <a href="#" class="minimize"></a>
    </div><!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <form class="form-horizontal" role="form" action="#">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Primer Nombre</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Segundo Nombre</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Primer Apellido</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Segundo Apellido</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">Sexo</label>
                        <div class="col-sm-2">
                            <select>
                                <option>Hombre</option>
                                <option>Mujer</option>
                            </select>
                        </div>
                    {#</div>

                    <div class="form-group">#}
                        <label class="col-sm-3 control-label" for="fechaNacimiento">Fecha de Nacimiento</label>
                        <div class="col-sm-2">
                            <div id="fechaNacimiento"  class="input-group date datepicker" data-date="2012-05-01" data-date-format="yyyy-mm-dd">
                                <input size="16" class="form-control" type="text">
                                <span class="input-group-addon"><i class="icon16 i-calendar-4"></i></span>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label" for="normal">Normal field</label>
                    <div class="col-lg-10">
                        <input class="form-control" type="text" id="normalField">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label" for="focused">Focused input</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="focusedInput" type="text" value="This is focused…" autofocus="autofocus">
                    </div>
                </div>


            </form>
        </div> <!-- .container -->
    </div><!-- End .panel-body -->
</div><!-- panel default -->


