{% extends "base.html.twig" %}

{% block contenido %}

<div class="panel panel-default">

    <!-- begin .panel-heading -->
    <div class="panel-heading">
        <div class="icon"><i class="icon20 i-menu-6"></i></div>
        <h4>D. OBSERVACIONES</h4>
        <a href="#" class="minimize"></a>
    </div>
    <!-- End .panel-heading -->

    <div class="panel-body" style="display: block;">
        <div class="container">
            <form class="form-horizontal" role="form" action="#">

				<!-- begin -->
					<div class="row">
						<textarea class="form-control" id="textarea" rows="3" ></textarea>
					</div>
				<!-- end -->

            </form>
        </div> <!-- .container -->
    </div><!-- End .panel-body -->
</div><!-- panel default -->


{% endblock %}
