{% extends "manual/base_manual.html.twig" %}


{% block contenido %}
    <h1 class="page-header">Indicadores de Producción</h1>

<img src="{{base_url('assets/images/manual/estadisticas_produccion/estadisticas_produccion.png')}}" style="width:100%; margin-bottom:20px">
<p class="tamannoLetra">
    <label class="morado">
        <b>Usted está aquí:</b>
    </label> Opción en el menú superior para entrar a este reporte.
<p/>
<p class="tamannoLetra">
    <label class="azul">
        <b>Renglón:</b>
    </label>
    Renglón productivos por los cuales se realiza el filtro de productores.
</p>
<p class="tamannoLetra">
    <label class="verde">
        <b>Municipio:</b>
    </label>
    Municipio(s) por los cuales se realiza el filtro de productores.
</p>
<p class="tamannoLetra">
    <label class="naranja">
        <b>Productores:</b>
    </label>
    Cantiidad de productores que se encuentran bajo este renglón productivo y/o municipio.
</p>
<p class="tamannoLetra">
    <label class="rosado">
        <b>Estadísticas:</b>
    </label>
    Diferentes  categorías que representan estadísticas de interés.
</p>
<p class="tamannoLetra">
    <label class="rojo">
        <b>Valores Totales:</b>
    </label>
    Valor total calculado según los datos para cada estadística.
</p>
<p class="tamannoLetra">
    <label class="verde_oscuro"> 
        <b>Valores Promedios:</b>
    </label>
    Valor promedio calculado según los datos para cada estadística.
</p>

{% endblock %}