{% extends "manual/base_manual.html.twig" %}


{% block contenido %}
    <h1 class="page-header">Perfil General del Productor</h1>

            <p class="tamannoLetra">En este reporte se puede visualizar la información consolidada del una serie de preguntas seleccionadas para el perfil general del productor.</p>
            <img src="{{base_url('assets/images/manual/perfil_productor/1.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="amarillo"><b>Botones Reportes:</b></label> En esta sección se presenta un menú de acceso a todos los reportes. Haciendo clic sobre alguno de ellos se puede visualizar la información.</p>
            <p class="tamannoLetra"><label class="azul"><b>Filtros Generales:</b></label> Mediante estos filtros se puede modificar la información que se visualiza. Se puede consultar por Municipio o Renglón Productivo. Estos selectores despliegan las opciones al hacer clic en la flecha que tienen en la parte derecha. </p>
            <p class="tamannoLetra"><label class="morado"><b>Pestañas Datos:</b></label> El reporte perfil general del productor tiene dos pestañas que permiten visualizar una tabla de promedios o las gráficas de frecuencias. Haciendo clic en el nombre de alguna de ellas se visualiza el contenido deseado.</label>
            <p class="tamannoLetra"><label class="verde"><b>Filtro Pregunta:</b></label> Mediante este filtro se modifica la pregunta o datos que se quieren visualizar. Despliega 12 opciones al hacer clic en la flecha de la parte derecha del selector. </label> 
            <p class="tamannoLetra"><label class="rosado"><b>Grafica:</b></label>En esta sección se grafica la información que se consultó mediante los filtros. Se puede descargar una imagen de la gráfica en formatos JPG, PNG, SVG y PDF. Basta con señalar el ícono de descarga y hacer clic en el formato que se requiere.</p>

{% endblock %}