<p class="tamannoLetra">Este reporte nos permite visualizar las respuestas suministradas por los productores en la sección C del RUAT. Dispone tanto de una tabla, como de su correspondiente gráfica.</p>

<hr>
<center><label><h3>GRÁFICA</h3></label></center>

<img src="{{base_url('assets/images/manual/reporte_aprendizaje/grafica_apropiacion_aprendizaje.png')}}" style="width:100%; margin-bottom:20px">

<p class="tamannoLetra"><label class="rojo"><b>Usted está aquí:</b></label> Opción en el menú superior para entrar a este reporte.<p/>

<p class="tamannoLetra"><label class="verde"><b>Gráfico y tabla:</b></label> Este reporte esta compuesto por una gráfica y su respectiva tabla.<p/>

<p class="tamannoLetra"><label class="azul"><b>Pregunta:</b></label> Preguntas almacenadas en la aplicación que se realizaron a los productores en la sección C del RUAT.<p/>

<p class="tamannoLetra"><label class="morado"><b>Gráfica:</b></label> Es la gráfica generada con las respuestas de los productores a la pregunta seleccionada.<p/>

<p class="tamannoLetra"><label class="naranja"><b>Exportar:</b></label> Esta opción nos permite guardar la imagen generada con alguno de los siguientes formatos: JPG, PNG, SVG, PDF.<p/>

<hr>
<center><label><h3>TABLA DE DATOS</h3></label></center>

<img src="{{base_url('assets/images/manual/reporte_aprendizaje/tabla_apropiacion_aprendizaje.png')}}" style="width:100%; margin-bottom:20px">

<p class="tamannoLetra"><label class="rojo"><b>Usted está aquí:</b></label> Opción en el menú superior para entrar a este reporte.<p/>

<p class="tamannoLetra"><label class="verde"><b>Gráfico y tabla:</b></label> Este reporte esta compuesto por una gráfica y su respectiva tabla.<p/>

<p class="tamannoLetra"><label class="rosado"><b>Pregunta:</b></label> Preguntas almacenadas en la aplicación que se realizaron a los productores en la sección C del RUAT.<p/>

<p class="tamannoLetra"><label class="naranja"><b>Respuesta:</b></label> Respuestas almacenadas en la aplicación como posibles opciones para los productores.<p/>

<p class="tamannoLetra"><label class="morado"><b>Valores:</b></label> Cantidad de respuestas para cada pregunta.<p/>

