{% extends "manual/base_manual.html.twig" %}


{% block contenido %}
    <h1 class="page-header">Ruat - Sección C</h1>
            <p class="tamannoLetra">En esta sección del RUAT se puede evaluar en que aspectos esta de acuerdo el productor con respecto a ciertas preguntas.</p>
            <img src="{{base_url('assets/images/manual/RUAT/C/C1.png')}}" style="width:100%; margin-bottom:20px">

            <p class="tamannoLetra"><label class="rojo"><b>Preguntas de apropiación de aprendizaje:</b></label> Preguntas con el fin de aprender más de las actitudes del productor con respecto un poco a su personalidad y a lo que haría por su cultivo.</p>
            <p class="tamannoLetra"><label class="morado"><b>Totalmente en Desacuerdo:</b></label> Esta opción indica que el productor desde ningún punto de vista esta de acuerdo con lo que se planteo en la pregunta correspondiente.</p>
            <p class="tamannoLetra"><label class="azul"><b>Desacuerdo:</b></label> Esta opción indica que el productor no esta de acuerdo con lo planteado en la pregunta correspondiente.<p/>
            <p class="tamannoLetra"><label class="verde"><b>Estado neutral:</b></label> Esta opción indica que el productor esta de acuerdo en parte y en desacuerdo por otra parte, es decir, esta indeciso.<p/>
            <p class="tamannoLetra"><label class="amarillo"><b>De acuerdo:</b></label> Esta opción indica que el productor esta de acuerdo en gran medida de lo planteado en la pregunta correspondiente.</p>
            <p class="tamannoLetra"><label class="naranja"><b>Totalmente de acuerdo:</b></label> Esta opción indica que el productor esta de acuerdo en todos los aspectos que plantea la pregunta correspondiente.<p/>
{% endblock %}