{% extends "manual/base_manual.html.twig" %}


{% block contenido %}
    <h1 class="page-header">Ruat - Sección D</h1>

			<p class="tamannoLetra">En esta sección del RUAT se pueden agregar observaciones pertinentes al proceso que el productor considere necesarias, además se puede subir el RUAT digitalizado y visualizarse éste mismo.</p>
        	<img src="{{base_url('assets/images/manual/RUAT/D/D1.png')}}" style="width:100%; margin-bottom:20px">

        	<p class="tamannoLetra"><label class="rojo"><b>Observaciones:</b></label> En ésta área de texto, se pueden escribir observaciones pertinentes del proceso u otro comentario que tenga el productor.</p>
        	<p class="tamannoLetra"><label class="verde"><b>Obtener RUAT Digital:</b></label> En ésta opción permite descargar el RUAT que se haya subido al sistema, siempre y cuando previamente se haya subido uno.<p/>
        	<p class="tamannoLetra"><label class="naranja"><b>Subir RUAT al sistema:</b></label> Esta opción permite subir el RUAT al sistema, para tenerlo siempre a la mano.<p/>
        	<p class="tamannoLetra"><label class="morado"><b>Volver a RUAT-C:</b></label> Éste botón nos permite volver al RUAT parte C, por si se requiere hacer algún cambio.</p>
            <p class="tamannoLetra"><label class="azul"><b>Guardar RUAT:</b></label> Ésta opción nos permite guardar lo que hemos digitado del RUAT hasta el momento.<p/>
{% endblock %}