{% extends "manual/base_manual.html.twig" %}


{% block contenido %}
    <h1 class="page-header">Clasificación Tipo Productor</h1>


<img src="{{base_url('assets/images/manual/clasificacion_tipo_productor/clasificacion_tipo_productor1.png')}}" style="width:100%; margin-bottom:20px">
<p class="tamannoLetra">
    <label class="verde">
        <b>Usuario:</b>
    </label>
    Son los nombres y apellidos del usuario que se encuentra actualmente logueado en el sistema.
</p>
<p class="tamannoLetra">
    <label class="naranja">
        <b>Fecha:</b>
    </label>
    Fecha en formato año, mes día en la cual se ha realizado la visita al productor.
</p>
<p class="tamannoLetra">
    <label class="rojo">
        <b>Área total:</b>
    </label>
    Valor numérico que representa el  área total total del predio asociado a ruat/productor.
</p>
<p class="tamannoLetra">
    <label class="morado">
        <b>Valor UAF:</b>
    </label>
    Representa el tipo de clasificación en la Unidad Agrícola Familiar (UAF) para el municipio en el cual esta ubicado el predio
</p>
<p class="tamannoLetra">
    <label class="azul">
        <b>Normatividad UAF:</b>
    </label>
    Norma vigente que aplica según la Unidad Agrícola Familiar (UAF) para realizar la clasificación.
</p>


<hr>
<img src="{{base_url('assets/images/manual/clasificacion_tipo_productor/clasificacion_tipo_productor2.png')}}" style="width:100%; margin-bottom:20px">
<p class="tamannoLetra">
    <label class="verde">
        <b>Activos:</b>
    </label>
    Descripción de la categoría de los activos suministrados por productor.
</p>
<p class="tamannoLetra">
    <label class="naranja">
        <b>Valor Activos:</b>
    </label>
    Valor de la categoría de los activos suministrados por productor.
</p>
<p class="tamannoLetra">
    <label class="rojo">
        <b>Ingresos:</b>
    </label>
    Descripción de la categoría de los ingresos suministrados por productor.
</p>
<p class="tamannoLetra">
    <label class="morado">
        <b>Valor Ingresos:</b>
    </label>
    Valor de la categoría de los ingresos suministrados por productor.
</p>
<p class="tamannoLetra">
    <label class="rosado">
        <b>Egresos:</b>
    </label>
    Descripción de la categoría de los egresos suministrados por productor.
</p>
<p class="tamannoLetra">
    <label class="azul">
        <b>Valor Egresos:</b>
    </label>
    Valor de la categoría de los egresos suministrados por productor.
</p>
<p class="tamannoLetra">
    <label class="negrito">
        <b>Utilidad:</b>
    </label>
    Valor de la utilidad anual calculada segun los ingresos y egresos suministrados por productor.
</p>
<p class="tamannoLetra">
    <label class="morado">
        <b>Costo Beneficio:</b>
    </label>
    Valor calaulado de la division de egresos sobre ingresos el cual respresental el costo-beneficio del productor
</p>


<hr>
<img src="{{base_url('assets/images/manual/clasificacion_tipo_productor/clasificacion_tipo_productor3.png')}}" style="width:100%; margin-bottom:20px">
<p class="tamannoLetra">
    <label class="verde">
        <b>Criterios:</b>
    </label>
    Criterios según los cuales se clasifica un productor.
</p>
<p class="tamannoLetra">
    <label class="naranja">
        <b>Valores Criterios:</b>
    </label>
    Valores obtenidos según la clasificacion según los criterios de clasificación.
</p>


<hr>
<img src="{{base_url('assets/images/manual/clasificacion_tipo_productor/clasificacion_tipo_productor4.png')}}" style="width:100%; margin-bottom:20px">
<p class="tamannoLetra">
    <label class="morado">
        <b>Crédito:</b>
    </label>
    Determina si el productor esta interesado en una solicitud de crédito.
</p>
<p class="tamannoLetra">
    <label class="rojo">
        <b>Descripción Crédito:</b>
    </label>
    Describe como se utilizara el dinero proveniente del crédito citado anteriormente
</p>
<p class="tamannoLetra">
    <label class="naranja">
        <b>Beneficiario:</b>
    </label>
    Nombre y apellidos del productor beneficiario el cual recibe la clasificación.
</p>
<p class="tamannoLetra">
    <label class="verde">
        <b>Responsable:</b>
    </label>
    Nombre y apellidos del funcionario responsable a cargo de diligenciar la información.
</p>
<p class="tamannoLetra">
    <label class="rojo">
        <b>Archivo:</b>
    </label>
    Copia(s) del archivo(s) fisico(s) asociado(s) a la visita almacenados en el sistema.
</p>
<p class="tamannoLetra">
    <label class="morado">
        <b>Subir Archivo:</b>
    </label>
    Permite adicionar un nuevo archivo físico a la información diligenciada.
</p>
<p class="tamannoLetra">
    <label class="azul">
        <b>Acciones:</b>
    </label>
    Posibles acciones a realizar. Guardar cambios realizados o cancelar y volver al menú inicial.
</p>

{% endblock %}