<ul class="nav nav-list">
    <li>
        <a href="{{site_url('auth')}}">
            <span class="icon"><i class="icon20 i-users"></i></span>
            <span class="txt">Gestión de Usuarios</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('listadoruats')}}">
            <span class="icon"><i class="icon20 i-list-2"></i></span>
            <span class="txt">Listado RUAT</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('reportes/formularios')}}">
            <span class="icon"><i class="icon20 i-bars-4"></i></span>
            <span class="txt">Reportes</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('suelos')}}">
            <span class="icon"><i class="icon20  i-lab"></i></span>
            <span class="txt">Estudios de Suelos</span>
        </a>
    </li>

    {% include "menus/manual.html.twig" %}



</ul>