<ul class="nav nav-list">

    <li>
        <a href="{{site_url('listadoruats')}}">
            <span class="icon"><i class="icon20 i-list-2"></i></span>
            <span class="txt">Listado RUAT</span>
        </a>
    </li>

    <li>
        <a href="{{site_url('reportes/estadisticastipoproductor')}}">
            <span class="icon"><i class="icon20 i-bars-4"></i></span>
            <span class="txt">Reportes</span>
        </a>
    </li>

    {% include "menus/manual.html.twig" %}

</ul>