<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title></title>
  </head>
  <body style=" font-family: 'calibri-italic',serif; font-size: 11px; width: 1219px;">
    <div style="position:absolute;left:50%;margin-left:-305px;top:0px;width:611px;border-style:outset;overflow:hidden">
      <table style="width: 100%;" border="1">
        <tbody>
          <tr>
            <td colspan="2" rowspan="1"><span style="font-weight: bold;">1.
                Informacion del cliente</span></td>
          </tr>
          <tr>
            <td style="width: 174.8px;">Nombre y Apellido</td>
            <td style="width: 1016.2px;"><br>
            </td>
          </tr>
          <tr>
            <td>Cédula o NIT</td>
            <td><br>
            </td>
          </tr>
          <tr>
            <td>Dirección</td>
            <td><br>
            </td>
          </tr>
          <tr>
            <td>Departamento</td>
            <td><br>
            </td>
          </tr>
          <tr>
            <td>Municipio</td>
            <td><br>
            </td>
          </tr>
          <tr>
            <td>Tel. fijo/Celular</td>
            <td><br>
            </td>
          </tr>
          <tr>
            <td>Tipo de análisis</td>
            <td><br>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <table style="width: 100%" border="1">
        <tbody>
          <tr>
            <td colspan="2" rowspan="1"><span style="font-weight: bold;"><span class="cls_021">2.
                  Informacion de la muestra</span></span></td>
          </tr>
          <tr>
            <td style="width: 174.8px;">Identificación</td>
            <td style="width: 1016.2px;"><br>
            </td>
          </tr>
          <tr>
            <td>Vereda</td>
            <td><br>
            </td>
          </tr>
          <tr>
            <td>Finca</td>
            <td><br>
            </td>
          </tr>
          <tr>
            <td>Cultivo</td>
            <td><br>
            </td>
          </tr>
          <tr>
            <td>Altura</td>
            <td><br>
            </td>
          </tr>
          <tr>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <table style="width: 100%; text-align: left; margin-left: auto; margin-right: auto;" border="1">
        <tbody>
          <tr align="center">
            <td style="background-color: #00004f; width: 230.367px;"><span style="color: white;">DETERMINACION
                ANALÍTICA<br>
              </span></td>
            <td style="background-color: #00004f; width: 51.55px;"><span style="color: white;">UNIDAD<br>
              </span></td>
            <td style="background-color: #00004f; width: 126.417px;"><span style="color: white;">MÉTODO<br>
              </span></td>
            <td style="background-color: #00004f; width: 63.95px;"><span style="color: white;">VALOR*<br>
              </span></td>
            <td style="background-color: #00004f; width: 120.883px;"><span style="color: white;">INTERPRETACIÓN*<br>
              </span></td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Textura al tacto <br>
              </span></td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">pH<br>
              </span></td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Conductividad eléctrica<br>
              </span></td>
            <td>dS/m</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Materia orgánica (MO)<br>
              </span></td>
            <td>%</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Fósforo disponible (P) Bray II<br>
              </span></td>
            <td>mg/kg</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Azufre disponible (S)<br>
              </span></td>
            <td>mg/kg</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Acidez intercambiable (Al+H)<br>
              </span></td>
            <td>cmol/kg</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Aluminio intercambiable (Al)<br>
              </span></td>
            <td>cmol/kg</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Calcio intercambiable (Ca)<br>
              </span></td>
            <td>cmol/kg</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Magnesio Intercambiable (Mg)<br>
              </span></td>
            <td>cmol/kg</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Potasio intercambiable (K)<br>
              </span></td>
            <td>cmol/kg</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Sodio intercambiable (Na)<br>
              </span></td>
            <td>cmol/kg</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Capacidad intercambio cationico
                (CICE)</span></td>
            <td style="margin-left: 10px;">cmol/kg</td>
            <td style="margin-left: 20px;"><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Hierro disponible (Fe) Olsen<br>
              </span></td>
            <td>mg/kg</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Manganeso disponible (Mn) Olsen<br>
              </span></td>
            <td>mg/kg</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Zinc disponible (Zn) Olsen<br>
              </span></td>
            <td>mg/kg</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr align="center">
            <td><span style="font-weight: bold;">Cobre disponible (Cu) Olsen<br>
              </span></td>
            <td>mg/kg</td>
            <td><br>
            </td>
            <td><br>
            </td>
            <td><br>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;"><span style="font-weight: bold;">Boro
                disponible (B)<br>
              </span></td>
            <td style="text-align: center;">mg/kg</td>
            <td style="text-align: center;"><br>
            </td>
            <td style="text-align: center;"><br>
            </td>
            <td><br>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <div style="float:left;">
        <table style="width: 254px; left: 0px;" border="1">
          <tbody>
            <tr align="center">
              <td style="height: 12px;" colspan="3" rowspan="1">SATURACION DE
                BASES</td>
            </tr>
            <tr>
              <td style="text-align: center; height: 12px;">Saturacion de Calcio</td>
              <td style="text-align: center;"><br>
              </td>
              <td style="text-align: center;"><br>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; width: 147px; height: 11px;">Saturacion
                de Magnesio</td>
              <td style="text-align: center; width: 46.1px;"><br>
              </td>
              <td style="text-align: center; width: 41px;"><br>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; height: 12px;">Saturacion de
                Potasio</td>
              <td style="text-align: center;"><br>
              </td>
              <td style="text-align: center;"><br>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; height: 12px;">Saturacion de Sodio</td>
              <td style="text-align: center;"><br>
              </td>
              <td style="text-align: center;"><br>
              </td>
            </tr>
            <tr>
              <td style="text-align: center;">Saturacion de Aluminio</td>
              <td style="text-align: center;"><br>
              </td>
              <td style="text-align: center;"><br>
              </td>
            </tr>
          </tbody>
        </table>
        <table style="width: 254px; left: 0px;" border="1">
          <tbody>
            <tr align="center">
              <td style="height: 12px;" colspan="3" rowspan="1">RELACIONESIÓNICAS</td>
            </tr>
            <tr>
              <td style="text-align: center; width: 156.034px; height: 12px;">Relacion
                Ca/Mg</td>
              <td style="text-align: center; width: 53.35px;"><br>
              </td>
              <td style="text-align: center; width: 48.1833px;"><br>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; height: 12px;">Relacion (ca+Mg)/K</td>
              <td style="text-align: center;"><br>
              </td>
              <td style="text-align: center;"><br>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; height: 12px;">Relacion Mg/K</td>
              <td style="text-align: center;"><br>
              </td>
              <td style="text-align: center;"><br>
              </td>
            </tr>
            <tr>
              <td style="text-align: center;">Relacion Ca/B</td>
              <td style="text-align: center;"><br>
              </td>
              <td style="text-align: center;"><br>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
